#header-custom {
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../img/aircraft.jpg) no-repeat center center fixed;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#check-custom {
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../img/check.jpg) no-repeat center center fixed;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .page-heading h1, header.masthead .site-heading h1 {
    font-size: 66px;
}

h2.post-title {
    font-family: Lora,'Times New Roman',serif;
}

h3.post-subtitle {
    font-weight: 300;
    font-family: Lora,'Times New Roman',serif;
    font-size: 22px;
}

header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
    padding: 200px 0 70px 0;
}

header.masthead .page-heading .subheading, header.masthead .site-heading .subheading {
    padding: 40px 0 0 0;
}

header.masthead .floating-label-form-group-with-focus input[type="text"], textarea {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

header.masthead .floating-label-form-group input[type="text"], textarea {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

header.masthead .floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group input:-ms-input-placeholder {
    color: #b4aab4;
}

header.masthead .floating-label-form-group input::-moz-placeholder,
.floating-label-form-group input:-moz-placeholder {
    color: #b4aab4;
    opacity: 1;
}

header.masthead .floating-label-form-group-with-focus label {
  color: #00deff;
}

header.masthead .floating-label-form-group label {
  color: #00deff;
}
