<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BlockchainAir</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="static/css/clean-blog.min.css" rel="stylesheet">
    <link href="static/css/custom.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">BlockchainAir</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="check">Make a record</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" id="header-custom">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Aviation is safer now</h1>
              <span class="subheading">Check the aircraft by its ID:</span>
              <form method="get" action="/" name="sentMessage" novalidate>
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label class="text-left">Aircraft ID</label>
                    <input type="text" name="id" class="form-control" placeholder="Aircraft ID" id="id" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="form-group">
                  <input type="submit" class="btn btn-secondary" value="Check"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


          {% if id %}
          <div class="post-preview">
            <h2 class="post-title">
              General information
            </h2>
            <p></p>
            <table class="table">
              <tbody>
                <tr>
                  <td>ID</td>
                  <td>{{ aircraft.id }}</td>
                </tr>
                <tr>
                  <td>Model</td>
                  <td>{{ aircraft.model }}</td>
                </tr>
                <tr>
                  <td>Manufacturer</td>
                  <td>{{ aircraft.manufacturer }}</td>
                </tr>
                <tr>
                  <td>Manufacture Date</td>
                  <td>{{ aircraft.manufacture_date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <div class="post-preview">
            <h2 class="post-title">
              Maintenance information
            </h2>
            <h3 class="post-subtitle">
              {{ aircraft.check.date }}, {{ aircraft.check.examiner }}
            </h3>
            <p></p>
            <table class="table">
              <tbody>
                <tr>
                  <td>Total Time Since New (TTSN)</td>
                  <td>{{ aircraft.check.ttsn }}</td>
                </tr>
                <tr>
                  <td>Total Time Since Overhaul (TTSO)</td>
                  <td>{{ aircraft.check.ttso }}</td>
                </tr>
                <tr>
                  <td>Total Cycles Since New (TCSN)</td>
                  <td>{{ aircraft.check.tcsn }}</td>
                </tr>
                <tr>
                  <td>Total Cycles Since Overhaul (TCSO)</td>
                  <td>{{ aircraft.check.tcso }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          {% else %}

              {% if error %}
                  <div class="post-preview">
                    <p class="text-center">
                      {{ error }}
                    </p>
                  </div>
               {% else %}
                  <div class="post-preview">
                    <p class="text-center">
                      Testing ID: <code>SN001</code>
                    </p>
                    <p class="text-center">
                      BlockchainAir helps you to get rid of time-consuming and error-prone paper work. You can keep
                      all the records in digital form.
                    </p>
                    <p class="text-center">
                      Security is provided by keeping the records in a blockchain.
                    </p>
                  </div>
               {% endif %}
          {% endif %}
          <!-- Pager -->
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; BlockchainAir 2017</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/popper/popper.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/clean-blog.min.js"></script>

  </body>

</html>
